<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{price}}</span>
  </p>
  <p>
    <a href="/cart" class="button is-primary">Buy</a>
  </p>
</div>


